<div class="btnSelectContainer">
    <button 
        #colorTraceButton
        class="colorTrace traceBtn" 
        [class.active]="activeButton === 'colorBtn'" 
        (click)="setActive('colorBtn');">
            <span class="actual-text">&nbsp;Color&nbsp;Trace&nbsp;</span>
            <span aria-hidden="true" class="hover-text">&nbsp;Color&nbsp;Trace&nbsp;</span>
    </button>
    <button 
        #bwTraceButton
        class="bwTrace traceBtn" 
        [class.active]="activeButton === 'bwBtn'" 
        (click)="setActive('bwBtn');">
            <span class="actual-text">&nbsp;B/W&nbsp;Trace&nbsp;</span>
            <span aria-hidden="true" class="hover-text">&nbsp;B/W&nbsp;Trace&nbsp;</span>
    </button>
    <label class="checkboxContainer">
        <input 
            #posterizedCheckbox
            id="posterizedCheckbox" 
            type="checkbox" 
            [checked]="checkBoxChecked" 
            [attr.disabled]="checkBoxDisabled ? true : null"
            (click)="checkBoxChecked = !checkBoxChecked;"
        >   
        <svg id="checkboxCheckmark" viewBox="0 0 64 64" height="2em" width="2em">
            <path d="M 0 16 V 56 A 8 8 90 0 0 8 64 H 56 A 8 8 90 0 0 64 56 V 8 A 8 8 90 0 0 56 0 H 8 A 8 8 90 0 0 0 8 V 16 L 32 48 L 64 16 V 8 A 8 8 90 0 0 56 0 H 8 A 8 8 90 0 0 0 8 V 56 A 8 8 90 0 0 8 64 H 56 A 8 8 90 0 0 64 56 V 16" pathLength="575.0541381835938" class="path"></path>
        </svg>
        <span class="form-desc"><abbr title="Runs the B/W Algorithm (Potrace) multiple times for a smoother result">Posterized Trace</abbr></span>
    </label>
</div>


<!-- <div class="radio-inputs">
  <label class="radio">
    <input type="radio" name="radio" checked="">
    <span class="name">Color Trace</span>
  </label>
  <label class="radio">
    <input type="radio" name="radio">
    <span class="name">B/W Trace</span>
  </label>
      
  <label class="radio">
    <input type="radio" name="radio">
    <span class="name">Posterized B/W Trace</span>
  </label>
</div> -->

<canvas class="img-canvas" [ngClass]="{'showCanvas': imageData}" #canvas></canvas>

<div class="uploadWrapper">
    <label *ngIf="showUpload" for="imgUpload" class="imgUploadLabel">
        <i class="uploadIcon"></i>
        Upload Image
    </label>
    
    <input id="imgUpload" type="file" (change)="onFileSelected($event)" accept="image/*" hidden/>
    
    <button *ngIf="showConvert" class="convertBtn" (click)="checkTraceMode()" [disabled]="!imageData">Convert to SVG</button>
</div>

<!-- <div class="uploadWrapper">
    <input id="imgUpload" type="file" (change)="onFileSelected($event)" accept="image/*" [hidden]="hideUpload"/>
    
    <button class="convertBtn" (click)="checkTraceMode()" [hidden]="hideConvert">Convert to SVG</button>
</div> -->



<div *ngIf="svgOutput" id="svgOutput" [innerHTML]="svgOutput"></div>

<a *ngIf="svgOutput" [href]="svgDownloadUrl" download="converted.svg" class="downloadBtn">Download SVG</a>
