.btnSelectContainer {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: flex;
    justify-content: center;
    gap: 3rem;
    position: relative;

    // button {
    //     border: .25em solid var(--glow-color);
    //     padding: 1em 3em;
    //     color: var(--glow-color);
    //     font-size: 15px;
    //     font-weight: bold;
    //     background-color: var(--btn-color);
    //     border-radius: 1em;
    //     outline: none;
    //     box-shadow: 0 0 1em .25em var(--glow-color),
    //            0 0 4em 1em var(--glow-spread-color),
    //            inset 0 0 .75em .25em var(--glow-color);
    //     text-shadow: 0 0 .5em var(--glow-color);
    //     position: relative;
    //     transition: all 0.3s;
    //     cursor: pointer;

    //     &.active {
    //         color: var(--btn-color);
    //         background-color: var(--glow-color);
    //         box-shadow: 0 0 1em .25em var(--glow-color),
    //            0 0 4em 2em var(--glow-spread-color),
    //            inset 0 0 .75em .25em var(--glow-color);
    //     }
    // }
       
    // button::after {
    //     pointer-events: none;
    //     content: "";
    //     position: absolute;
    //     top: 120%;
    //     left: 0;
    //     height: 100%;
    //     width: 100%;
    //     background-color: var(--glow-spread-color);
    //     filter: blur(2em);
    //     opacity: .7;
    //     transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
    // }
       
    // button:hover {
    //     color: var(--btn-color);
    //     background-color: var(--glow-color);
    //     box-shadow: 0 0 1em .25em var(--glow-color),
    //            0 0 4em 2em var(--glow-spread-color),
    //            inset 0 0 .75em .25em var(--glow-color);
    // }
       
    // button:active {
    //     box-shadow: 0 0 0.6em .25em var(--glow-color),
    //            0 0 2.5em 2em var(--glow-spread-color),
    //            inset 0 0 .5em .25em var(--glow-color);
    // }

    .traceBtn {
        height: auto;
        background: transparent;
        padding: 0;
        border: none;
        cursor: pointer;

        --border-right: 6px;
        --text-stroke-color: rgba(255,255,255,0.6);
        --animation-color: #37FF8B;
        --fs-size: 2em;
        letter-spacing: 3px;
        text-decoration: none;
        font-size: var(--fs-size);
        font-family: "Arial";
        position: relative;
        text-transform: uppercase;
        color: transparent;
        -webkit-text-stroke: 1px var(--text-stroke-color);

        .hover-text {
            position: absolute;
            box-sizing: border-box;
            content: attr(data-text);
            color: var(--animation-color);
            width: 0%;
            inset: 0;
            border-right: var(--border-right) solid var(--animation-color);
            overflow: hidden;
            transition: 0.5s;
            -webkit-text-stroke: 1px var(--animation-color);
        }

        &:hover .hover-text {
            width: 100%;
            filter: drop-shadow(0 0 23px var(--animation-color))
        }

        &.active .hover-text {
            width: 100%;
            filter: drop-shadow(0 0 23px var(--animation-color));
        }
    }
    
}

.checkboxContainer {
    cursor: pointer;
    position: absolute;
    right: -175px;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.checkboxContainer input {
    display: none;
}

.checkboxContainer svg {
    overflow: visible;
}

.path {
    fill: none;
    stroke: var(--glow-color);
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
    stroke-dasharray: 241 9999999;
    stroke-dashoffset: 0;
    filter: drop-shadow(0 1em .25em var(--glow-color),
               0 0 4em 1em var(--glow-spread-color),
               inset 0 0 .75em .25em var(--glow-color));
    -webkit-filter: drop-shadow(0 1em .25em var(--glow-color),
               0 0 4em 1em var(--glow-spread-color),
               inset 0 0 .75em .25em var(--glow-color));
    -webkit-svg-shadow: 0 1em .25em var(--glow-color),
               0 0 4em 1em var(--glow-spread-color),
               inset 0 0 .75em .25em var(--glow-color);
}

#checkboxCheckmark {
    filter: drop-shadow(0 0 .75em var(--glow-color));
}

.checkboxContainer input:checked ~ svg .path {
    stroke-dasharray: 70.5096664428711 9999999;
    stroke-dashoffset: -262.2723388671875;
}

#posterizedCheckbox[disabled] {
    & ~ #checkboxCheckmark,
    & ~ .form-desc { 
        cursor: not-allowed;
    }

    & ~ #checkboxCheckmark {
        filter: invert(0.5) grayscale(1);
    }
    & ~ .form-desc {
        color: rgba(255, 255, 255, 0.5);
        text-shadow: none;
    }
}

.checkboxContainer:has(#posterizedCheckbox:disabled) {
    cursor: not-allowed;
}

.form-desc {
    color: var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
}

//Button replacement logic with radio inputs
// .radio-inputs {
//     margin-left: auto;
//     margin-right: auto;
//     position: relative;
//     display: flex;
//     gap: 2rem;
//     flex: 1 1 auto;
//     flex-wrap: wrap;
//     border-radius: 0.5rem;
//     background-color: #EEE;
//     box-sizing: border-box;
//     //box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
//     box-shadow: 0 0 10px 1px #e879f7;
//     padding: 0.25rem;
//     max-width: 500px;
//     min-width: fit-content;
//     font-size: 14px;
// }

// .radio-inputs .radio {
//     flex: 1;
//     text-align: center;
// }

// .radio-inputs .radio input {
//     display: none;
// }

// .radio-inputs .radio .name {
//     display: flex;
//     cursor: pointer;
//     align-items: center;
//     justify-content: center;
//     border-radius: 0.5rem;
//     border: none;
//     padding: .5rem 0;
//     color: rgba(51, 65, 85, 1);
//     transition: all .15s ease-in-out;
// }

// .radio-inputs .radio input:checked + .name {
//     background-color: #fff;
//     font-weight: 600;
// }

.img-canvas {
    display: auto;
    margin-left: auto;
    margin-right: auto;

    &:hover {
        position: relative;
    }
}

.showCanvas {
    display: block;
}

.uploadWrapper {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.imgUploadLabel {
    color: var(--glow-color);
    background-color: var(--btn-opac-color);
    padding: 1rem;
    border: 1px solid var(--glow-color);
    border-radius: 8px;
    box-shadow: 4px 4px 10px -3px var(--glow-spread-color);
    display: flex;
    justify-content: center;

    transition: 0.2s ease-in-out;
    position: relative;
    left: 0px;
    top: 0px;
    cursor: pointer;

    &:hover {
        left: 4px;
        top: 4px;
        box-shadow: var(--glow-spread-color) 0px 0px 0px 0px;
    }

    &:active {
        background-color: var(--btn-color);
    }
}

.labelWrapper {
    justify-content: center;
    align-items: center;
}

.uploadIcon {
    mask-image: url("../../../public/upload_icon.svg");
    background: var(--glow-color);
    // Make sure you define dimensions for your div otherwise it won't show up
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
}

.convertBtn {
    color: var(--glow-color);
    background-color: var(--btn-opac-color);
    padding: 1rem;
    border: 1px solid var(--glow-color);
    border-radius: 8px;
    box-shadow: 4px 4px 10px -3px var(--glow-spread-color);
    display: flex;
    justify-content: center;

    transition: 0.2s ease-in-out;
    position: relative;
    left: 0px;
    top: 0px;
    cursor: pointer;

    &:hover {
        left: 4px;
        top: 4px;
        box-shadow: var(--glow-spread-color) 0px 0px 0px 0px;
    }

    &:active {
        background-color: var(--btn-color);
    }
}

// #imgUpload {
//     position: relative;

//     &::file-selector-button {
//         color: var(--glow-color);
//         background-color: var(--btn-opac-color);
//         padding: 1rem;
//         padding-left: 3rem;
//         border: 1px solid var(--glow-color);
//         border-radius: 8px;
//         box-shadow: 4px 8px 10px -3px var(--glow-spread-color);
//         display: inline-flex;
//         justify-content: center;
//         cursor: pointer;
//     }

//     &::before {
//         position: absolute;
//         pointer-events: none;
//         top: 10px;
//         left: 16px;
//         height: 20px;
//         width: 20px;
//         content: "";
//         background-image: url("../../../public/upload_icon.svg");
//     }
// }

#svgOutput {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: 1px solid var(--border-color);
    background: white;
}

.downloadBtn {
    color: var(--glow-color);
    background-color: var(--btn-opac-color);
    padding: 1rem;
    border: 1px solid var(--glow-color);
    border-radius: 8px;
    box-shadow: 4px 4px 10px -3px var(--glow-spread-color);
    display: flex;
    justify-content: center;

    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;

    transition: 0.2s ease-in-out;
    position: relative;
    left: 0px;
    top: 0px;
    cursor: pointer;

    &:hover {
        left: 4px;
        top: 4px;
        box-shadow: var(--glow-spread-color) 0px 0px 0px 0px;
    }

    &:active {
        background-color: var(--btn-color);
    }
}