.btnSelectContainer {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    display: flex;
    justify-content: center;
    gap: 3rem;

    button {
        border: .25em solid var(--glow-color);
        padding: 1em 3em;
        color: var(--glow-color);
        font-size: 15px;
        font-weight: bold;
        background-color: var(--btn-color);
        border-radius: 1em;
        outline: none;
        box-shadow: 0 0 1em .25em var(--glow-color),
               0 0 4em 1em var(--glow-spread-color),
               inset 0 0 .75em .25em var(--glow-color);
        text-shadow: 0 0 .5em var(--glow-color);
        position: relative;
        transition: all 0.3s;

        &.active {
            color: var(--btn-color);
            background-color: var(--glow-color);
            box-shadow: 0 0 1em .25em var(--glow-color),
               0 0 4em 2em var(--glow-spread-color),
               inset 0 0 .75em .25em var(--glow-color);
        }
    }
       
    button::after {
        pointer-events: none;
        content: "";
        position: absolute;
        top: 120%;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: var(--glow-spread-color);
        filter: blur(2em);
        opacity: .7;
        transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
    }
       
    button:hover {
        color: var(--btn-color);
        background-color: var(--glow-color);
        box-shadow: 0 0 1em .25em var(--glow-color),
               0 0 4em 2em var(--glow-spread-color),
               inset 0 0 .75em .25em var(--glow-color);
    }
       
    button:active {
        box-shadow: 0 0 0.6em .25em var(--glow-color),
               0 0 2.5em 2em var(--glow-spread-color),
               inset 0 0 .5em .25em var(--glow-color);
    }
}

.img-canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.uploadWrapper {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.imgUploadLabel {
    color: var(--glow-color);
    background-color: var(--btn-opac-color);
    padding: 1rem;
    border: 1px solid var(--glow-color);
    border-radius: 8px;
    box-shadow: 4px 8px 10px -3px var(--glow-spread-color);
    display: flex;
    justify-content: center;
}

.labelWrapper {
    justify-content: center;
    align-items: center;
}

.uploadIcon {
    mask-image: url("../../../public/upload_icon.svg");
    background: var(--glow-color);
    // Make sure you define dimensions for your div otherwise it won't show up
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
}

// #imgUpload {
//     position: relative;

//     &::file-selector-button {
//         color: var(--glow-color);
//         background-color: var(--btn-opac-color);
//         padding: 1rem;
//         padding-left: 3rem;
//         border: 1px solid var(--glow-color);
//         border-radius: 8px;
//         box-shadow: 4px 8px 10px -3px var(--glow-spread-color);
//         display: inline-flex;
//         justify-content: center;
//         cursor: pointer;
//     }

//     &::before {
//         position: absolute;
//         pointer-events: none;
//         top: 10px;
//         left: 16px;
//         height: 20px;
//         width: 20px;
//         content: "";
//         background-image: url("../../../public/upload_icon.svg");
//     }
// }

#svgContainer {
    width: 100%;
    max-width: 600px;
    border: 1px solid var(--border-color);
    background: white;
}