<div class="btnSelectContainer">
    <button class="colorTrace traceBtn" [class.active]="activeButton === 'colorBtn'" (click)="setActive('colorBtn');">Color Trace</button>
    <button class="bwTrace traceBtn" [class.active]="activeButton === 'bwBtn'" (click)="setActive('bwBtn');">B/W Trace</button>
</div>

<canvas class="img-canvas" #canvas></canvas>

<div class="uploadWrapper">
    <label *ngIf="showUpload" for="imgUpload" class="imgUploadLabel">
        <i class="uploadIcon"></i>
        Upload Image
    </label>
    
    <input id="imgUpload" type="file" (change)="onFileSelected($event)" accept="image/*" hidden/>
    
    <button *ngIf="showConvert" class="convertBtn" (click)="checkTraceMode()" [disabled]="!imageData">Convert to SVG</button>
</div>

<!-- <div class="uploadWrapper">
    <input id="imgUpload" type="file" (change)="onFileSelected($event)" accept="image/*" [hidden]="hideUpload"/>
    
    <button class="convertBtn" (click)="checkTraceMode()" [hidden]="hideConvert">Convert to SVG</button>
</div> -->



<div *ngIf="svgOutput" id="svgContainer" [innerHTML]="svgOutput"></div>

<a *ngIf="svgOutput" [href]="svgDownloadUrl" download="converted.svg" class="download-btn">Download SVG</a>
